.dplayer-thumb {
    background: #f00 !important;
}

.dplayer-volume-bar-inner {
    background: #f00 !important;
}

.dplayer-played {
    background: #f00 !important;
}

.dplayer svg path, .dplayer svg circle {
    fill: #f00 !important;
}

.dplayer-controller .dplayer-icons .dplayer-label {
    color: #f00 !important;
    font-size: 13px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
}

.dplayer-controller .dplayer-icons .dplayer-toggle input + label {
    display: inline-block !important;
    position: relative !important;
    box-shadow: #dfdfdf 0 0 0 0 inset !important;
    border: 1px solid #f00 !important;
    height: 20px !important;
    width: 32px !important;
    border-radius: 10px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: 0.2s ease-in-out !important;
}

.dplayer-controller .dplayer-icons .dplayer-toggle input:checked + label:before {
    width: 30px;
    background: #ff00008a !important;
}

.dplayer-time {
    color: #f00 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.dplayer-controller {
    bottom: 2em !important;
}

.dplayer-controller .dplayer-icons {
    bottom: -14px !important;
}

.dplayer-controller .dplayer-bar-wrap .dplayer-bar {
    height: 6px !important;
}

.dplayer-played {
    height: 6px !important;
}

.dplayer-loaded {
    height: 6px !important;
}