html {
    scroll-behavior: smooth;
}

#about {
    margin-top: 118vh;
    height: 0vh;
}

body.modal-open {
    overflow: hidden;
}

.modal-open {
    overflow: auto;
}

a#watch-button,
a#watch-button:visited,
a#watch-button:hover,
a#watch-button:focus,
a#watch-button:active {
    text-decoration: none !important;
    color: #000;
}

.modal-content {
    background-color: #181818;
    color: white;
    margin: 5% auto;
    margin-bottom: -41px !important;
    padding: 1.25em;
    width: 43%;
    top: -4em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    position: relative;
    min-height: 500em;
    box-shadow:
        rgba(0, 0, 0, 0.75) -3px 0px 10px,
        /* izquierda */
        rgba(0, 0, 0, 0.75) 3px 0px 10px;
    /* derecha */
}

h3.season-header {
    padding-bottom: 0.5em;
    margin-top: 5em;
    margin-left: -49em;
    border-bottom: none;
    border-top: none;
    font-size: 14px;
}

.nivelx-header::before {}

div#modal-background {
    margin-top: -1.5em;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.7);
}

#infoModal {
    background-color: rgba(0, 0, 0, 0.7);
}

.close-button svg {
    position: absolute;
    top: 0.8em;
    left: 52em;
    z-index: 1000;
    background: #181818;
    border-radius: 50%;
    padding: 0.3em;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.episodios h2 {
    color: #fff0;
}

.modal-header {
    position: relative;
    width: 100%;
}

.modal-header::before {
    content: "";
    position: absolute;
    top: 181px;
    /* ajuste fijo */
    left: -20px;
    /* ajuste fijo */
    width: 877px;
    /* ancho fijo ligeramente mayor que el video */
    height: 231px;
    /* mismo alto que el video */
    background: linear-gradient(0deg, #181818, transparent 50%);
    z-index: 1;
    /* encima del video */
}

.reite-header::before {
    margin-top: -11.48em !important;
    height: 26em;
}

#modal-background {
    position: relative;
    /* necesario para que el video se posicione respecto a este contenedor */
}

#modal-background video {
    position: absolute;
    /* fijo en el contenedor */
    top: -122px;
    /* posición desde el borde superior */
    left: -20px;
    /* posición desde el borde izquierdo */
    width: 877px !important;
    /* tamaño fijo */
    height: 500px !important;
    /* tamaño fijo */
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    object-fit: cover;
    /* opcional: asegura que el contenido se ajuste al contenedor */
    margin-top: 2.1em;
}

video.nivelx-bg {
    margin-top: -1em;
}

video.reite-video.reite-bg {
    top: -7.5em !important;
}

#modal-cast #scrollAbout {
    font-style: italic;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family: 'Netflix Sans';
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

#modal-cast #scrollAbout:hover {
    color: #fff;
    text-decoration: underline;
}

#modal-cast #scrollAbout:focus,
#modal-cast #scrollAbout:active {
    outline: none;
    text-decoration: none;
}

.modal-year {
    position: absolute;
    top: 28.4em;
    font-size: 16px;
    padding-left: 2.2em;
    z-index: 1000;
    color: #bcbcbc !important;
}

.modal-title {
    position: absolute;
    top: 2em;
}

.season-dropdown {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: 'Netflix Sans';
    z-index: 1000;
    margin-top: 34em;
    margin-left: 33em;
}

.dropdown-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 11em;
    position: relative;
    font-size: 1.4em;
    background-color: rgb(36, 36, 36);
    padding: 0.3em 1em;
    color: white;
    cursor: pointer;
    border: 0.1em solid rgb(77, 77, 77);
    border-radius: 0.2em;
    zoom: 0.7;
    left: -22.16em;
    font-weight: 600;
    font-family: 'Netflix Sans';
}

.season-dropdown,
nivelx-season-dropdown {
    position: absolute;
    top: 6em;
}

.dropdown-button::after {
    content: "▼";
    margin-left: 1.5em;
    transition: transform 0.3s ease;
    font-size: 32px;
    margin-top: -0.01em;
}

.season-dropdown.show .dropdown-button::after {
    transform: rotate(180deg);
}

.dropdown-content {
    min-width: 4em;
    position: absolute;
    right: 20.69em;
    cursor: pointer;
    color: white;
    list-style-type: none;
    border: 0.1em solid rgb(77, 77, 77);
    margin-top: 0.15em;
    font-size: 1.5em;
    z-index: 1;
    background-color: rgb(36, 36, 36);
    white-space: nowrap;
    column-gap: 1.8em;
    max-height: max(10em, 165.415px - 2rem);
    overflow: auto;
    padding: 1rem 0px;
    zoom: 0.7;
    overflow-x: hidden;
}

#seasonMenu {
    display: none;
}

#seasonMenu.show {
    display: block;
}

.season-option {
    width: 100%;
}

.season-option .texto {
    background: none;
    border: none;
    font-size: 1em;
    color: white;
    cursor: pointer;
    padding: 0.5em;
    width: 102%;
    text-align: left;
    font-family: 'Netflix Sans', sans-serif;
    transition: color 0.2s ease;
    padding-left: 0.7em;
    display: block;
    font-weight: 500;
}

.episodios-count {
    font-size: 0.73em !important;
    color: #ffffff !important;
    margin-left: 0.6em !important;
    font-weight: 400 !important;
    margin-top: 0.252em !important;
    position: absolute;
}

.season-divider {
    border-top: 1px solid #444 !important;
    margin-top: 24px !important;
    padding-top: 5px !important;
}

.view-all-btn {
    width: 100% !important;
    text-align: left !important;
    color: #fff !important;
    font-weight: bold !important;
    background: none !important;
    border: none !important;
    cursor: pointer !important;
    padding-left: 2.7em !important;
    padding-right: 2em !important;
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
    font-size: 23px !important;
    width: 120% !important;
    margin-left: -0.8em !important;
    margin-top: 0.5em !important;
}

.view-all-btn:hover {
    background-color: #424242 !important;
}

button.texto.vtle {
    margin-top: -5px;
    margin-bottom: 10px;
}

.sepaoption {
    border-top: 1px solid rgb(77, 77, 77);
    margin: 1rem 0.8em;
}

.t1 {
    margin-top: 10px;
    padding-bottom: 0.6em !important;
}

.t2 {
    margin-bottom: -5px;
}

.episode-count {
    display: block;
    font-size: 14px;
    color: #fff;
    font-family: 'Netflix Sans', sans-serif;
    width: 100%;
    margin-left: 8.8em;
    font-weight: 500;
}

.ep1 {
    margin-top: -1.5em;
}

.ep2 {
    margin-top: -1.4em;
}

/* Estilo base para todos los epnumbers */
strong[class^="epnumber"] {
    color: #bcbcbc !important;
    position: absolute;
    left: 0.6em;
    font-size: 27px;
    font-weight: 300;
    z-index: 1000;
    text-align: center;
}

/* Hover para todos */
strong[class^="epnumber"]:hover {
    left: 0.1em;
}

/* Ajuste de top según número usando nth-of-type relativo a su contenedor */
strong.epnumber1 {
    top: 1em;
}

strong.epnumber2 {
    top: 1em;
}

strong.epnumber3 {
    top: 1em;
}

strong.epnumber4 {
    top: 1em;
}

strong.epnumber5 {
    top: 1.034em;
}

strong.epnumber6 {
    top: 1.1em;
}

/* Del 7 al 8: incremento uniforme 0.066em */
strong.epnumber7 {
    top: 1.166em;
}

strong.epnumber8 {
    top: 1.232em;
}

/* Del 9 al 19: incremento “un pelín más” 0.07em */
strong.epnumber9 {
    top: 1.302em;
}

strong.epnumber10 {
    top: 1.372em;
}

strong.epnumber11 {
    top: 1.442em;
}

strong.epnumber12 {
    top: 1.512em;
}

strong.epnumber13 {
    top: 1.582em;
}

strong.epnumber14 {
    top: 1.652em;
}

strong.epnumber15 {
    top: 1.722em;
}

strong.epnumber16 {
    top: 1.792em;
}

strong.epnumber17 {
    top: 1.862em;
}

strong.epnumber18 {
    top: 1.932em;
}

strong.epnumber19 {
    top: 2.002em;
}

/* Epnumber 20 con font-size menor */
strong.epnumber20 {
    top: 2.072em;
    font-size: 16px;
}

ul#episode-list {
    position: relative;
}

ul#episode-list li {
    padding-left: 2em;
    position: relative;
}

ul#episode-list li:hover {
    cursor: pointer;
}

#episode-list li::before {
    content: '';
    width: 0.7em;
    height: 0.7em;
    font-size: 3.3em;
    display: flex;
    border-radius: 50%;
    border: 0.02em solid white;
    position: absolute;
    left: 16.6%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(30, 30, 20, 0.5);
    opacity: 0;
    pointer-events: none;
}

#episode-list li:hover::before {
    opacity: 1;
}

#episode-list li::after {
    content: '▶';
    font-size: 1.7em;
    font-family: FONTAWESOME;
    color: white;
    position: absolute;
    left: 16.5%;
    top: 49.8%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

#episode-list li:hover::after {
    opacity: 1;
}

button.text:hover {
    background-color: #f0f0f0;
}

#episode-list li {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0.5em 2em;
    border-bottom: 0.1em solid #333;
    border-radius: .25em;
    padding-left: 4em !important;
    padding-right: 5em !important;
    padding: 2em;
    width: 49.4em;
}

#episode-list li:focus {
    color: #fff;
}

.episode-info p:focus {
    color: #fff;
}

#episode-list li:visited {
    color: #fff;
}

.episode-info {
    color: #fff;
}

.episode-item {
    position: relative;
    /* contenedor relativo */
    padding-right: 60px;
    /* espacio para el número */
}

.episode-number {
    position: absolute;
    right: 29.64em;
    /* alineado al borde derecho del contenedor */
    top: 50%;
    /* centrado vertical */
    transform: translateY(-50%);
    font-size: 25px;
    color: #bcbcbc;
}

.epnumber {
    color: #f00;
}

a.eplink:hover {
    color: #fff;
}

a.eplink:visited {
    color: #fff;
}

a.eplink {
    text-decoration: none;
}

#episode-list li span {
    position: absolute;
    left: 42.5em;
}

#episode-list li:hover span {
    opacity: 1;
}

#episode-list li img {
    width: 133px !important;
    height: auto;
    border-radius: 0.4em;
    object-fit: cover;
    margin-right: 1em;
    margin-top: 0.43em;
    margin-bottom: 0.43em;
}

.episode-info {
    display: flex;
    flex-direction: column;
}

.episode-title {
    font-weight: 500;
    font-size: 1em;
}

.episode-description {
    font-size: 0.9em;
    color: #666;
}

.modal-duration {
    position: absolute;
    top: 28.4em;
    font-size: 16px;
    color: #bcbcbc !important;
    left: 6.4em;
    display: flex;
    text-align: left;
    padding-left: 0em;
}

.modal strong p {
    color: #777;
    font-weight: 300;
}

.modal .curiosidad {
    color: #fff;
    font-weight: 500;
    width: 100vw;
    display: block;
    margin-top: -0.6em;
}

.modal-fullcreatedBy,
.modal-cast,
.modal-script,
.modal-genres,
.modal-titleType {
    position: absolute;
    padding-left: 40em !important;
    text-align: left;
    padding-right: 2em;
    font-size: 14px !important;
}

.modal-fullcreatedBy {
    top: 47em;
}

.modal-cast {
    top: 32.6em;
    font-size: 0.875em;
    padding-left: 36.6em;
    padding-right: 3em;
}

.createdBy {
    position: absolute;
    top: 90em;
    text-align: justify;
    padding-left: 2em;
}

.fcprefix {
    color: #fff;
}

span.fcprefix {
    color: #bcbcbc;
}

.modal-script {
    top: 2em;
    left: -30.67em;
}

.modal-genres {
    top: 36.3em !important;
    font-size: 0.875em;
    padding-left: 36.6em;
    padding-right: 3em;
}

.modal-titleType {
    top: 40.3em !important;
    font-size: 0.875em;
    padding-left: 36.6em;
    padding-right: 3em;
}

.modal-ageRating,
.modal-description,
.modal-curiosity {
    position: absolute;
    padding-left: 2em;
    padding-right: 24em;
    text-align: left;
}

.modal-ageRating {
    top: 33.3em;
    left: 1.5em;
    z-index: 1000;
    font-size: 0.91em;
}

.age {
    border: 1px solid hsla(0, 0%, 100%, .4);
    padding: 0 .4em;
}

/* === Estilo específico para edad en headers de temporada === */
.season-ageRating {
    position: absolute;
    padding-left: 2em;
    padding-right: 24em;
    text-align: left;
    top: -0.2em;
    /* Ajustar según necesidad */
    left: 6.7em;
    /* Ajustar según necesidad */
    z-index: 1000;
    font-size: 13px !important;
}

.season-ageRating .age {
    border: 1px solid hsla(0, 0%, 100%, 0.4);
    padding: 0 0.4em;
    margin-right: 0.45em;
}

/* Opcional: contenedor de temporada para separar cada header + lista */
.season-container {
    position: relative;
    margin-bottom: 0em;
    border: none !important;
    margin-left: -1em;
}

.modal-description {
    font-size: 16px;
    left: 1.2em;
    padding-right: 22em;
    top: 31.7em;
}

.curiosity-synopsis {
    top: 1.9em !important;
    position: relative;
}

.modal-curiosity {
    top: 27.4em;
    z-index: 1000;
    font-size: 1.17em;
    left: 0.8em;
}

.modal-curiosity p {
    font-size: 12p;
}

.modal-info>p {
    margin: 0.3125em 0;
    color: #fff;
    z-index: 1000;
    margin-top: 2.8em !important;
}

.facontent2 {
    margin-left: 1.1em;
    width: 14em;
    position: absolute;
}

.modal-cast strong,
.modal-genres strong,
.modal-titleType strong {
    color: #777;
    font-weight: 300;
}

span.fcbprefix {
    color: #bcbcbc;
    margin-top: 18em;
}

span.fsprefix {
    color: #bcbcbc;
}

span.fgprefix {
    color: #bcbcbc;
}

span.fttprefix {
    color: #bcbcbc;
}

span.faprefix {
    color: #bcbcbc;
}

button.texto:hover {
    background: #424242;
    border-radius: 0em;
}

ul#episode-list {
    padding-left: 1.6em;
    padding-right: 3em;
    position: absolute;
    top: 45em;
}

.modal strong.eplist {
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 31em;
    left: 1.766em;
    font-size: 1.5em;
}

.overlay {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.overlay h1 {
    font-size: 2em;
    font-weight: 500;
}

.mpa1-mtitle {
    top: -1.6em;
    position: relative;
}

strong.titulo {
    font-weight: 500;
}

span.about {
    font-weight: 300;
}

.overlay p {
    font-size: 1.2em;
}

.modal-actions {
    display: flex;
    align-items: center;
    gap: 0.625em;
    margin-top: 0.625em;
    cursor: pointer;
}

.watch-button {
    background-color: #fff;
    color: #000;
    padding: 0.625em 2.25em;
    font-size: 23px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    position: absolute;
    top: 17.36em;
    left: 2.06em;
    z-index: 1000;
    padding-left: 3.3em;
    width: 10.13em;
    height: 2.465em;
}

.watch-button::after {
    content: '';
    position: absolute;
    top: 0.6em;
    left: 1.3em;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 2.69127C5 1.93067 5.81547 1.44851 6.48192 1.81506L23.4069 11.1238C24.0977 11.5037 24.0977 12.4963 23.4069 12.8762L6.48192 22.1849C5.81546 22.5515 5 22.0693 5 21.3087V2.69127Z" fill="currentColor"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
}

.watch-button:hover {
    background-color: #e6e6e6 !important;
    color: #000;
}

#watch-button:visited {
    all: unset;
    text-decoration: none;
}

a {}

.icon-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.episode {
    display: flex;
    align-items: center;
    margin-top: 0.9375em;
}

.episode img {
    width: 9.375em;
    border-radius: 0.3125em;
    margin-right: 0.625em;
}

.episode h3 {
    font-size: 1.2em;
}

.episode p {
    font-size: 1em;
    color: #bbb;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
}

h1#modal-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 318.5em;
    margin-left: -2.6em;
    padding-left: 2em;
    width: 100vh;
    color: white;
    text-align: left;
    margin-bottom: 0.5em;
    z-index: 1000;
    position: absolute;
}

.mpa2-mtitle {
    position: relative;
    top: -2.5em;
}

.modal-createdBy {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 1.5em !important;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 97em;
}

.modal-createdBy,
.fullcast,
.fullscript,
.fullgenres,
.fulltitletype,
.fullage {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 235.8em;
    position: relative;
}

.fcbprefix,
.fcprefix,
.fsprefix,
.fgprefix,
.fttprefix,
.faprefix {
    color: #bcbcbc;
}

.fccontent,
.fscontent,
.fgcontent,
.fttcontent,
.facontent,
.facontent2 {
    color: #fff;
}

.age {
    font-weight: 500;
}

.app-createdBy {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.app-createdBy,
.app-fullcast,
.app-fullscript,
.app-fullgenres,
.app-fulltitletype,
.app-fullage {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 236.8em !important;
}

.app-fcbprefix,
.app-fcprefix,
.app-fsprefix,
.app-fgprefix,
.app-fttprefix,
.app-faprefix {
    color: #bcbcbc;
}

.app-fccontent,
.app-fscontent,
.app-fgcontent,
.app-fttcontent,
.app-facontent,
.app-facontent2 {
    color: #fff;
}

.app-age {
    font-weight: 500;
}

/* ---------------------------------------------
   ESTILOS PARA MPA1
---------------------------------------------- */
.mpa1-modal-createdBy {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 1.5em !important;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 97em;
}

.mpa1-createdBy,
.mpa1-fullcast,
.mpa1-fullscript,
.mpa1-fullgenres,
.mpa1-fulltitletype,
.mpa1-fullage {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 232.8em;
    position: relative;
}

.mpa1-fcbprefix,
.mpa1-fcprefix,
.mpa1-fsprefix,
.mpa1-fgprefix,
.mpa1-fttprefix,
.mpa1-faprefix {
    color: #bcbcbc;
}

.mpa1-fccontent,
.mpa1-fscontent,
.mpa1-fgcontent,
.mpa1-fttcontent,
.mpa1-facontent,
.mpa1-facontent2 {
    color: #fff;
}

.mpa1-age {
    font-weight: 500;
}

.mpa1-modal-title {
    position: relative;
    top: 1em !important;
}

/* ---------------------------------------------
   ESTILOS PARA MPA2
---------------------------------------------- */
.mpa2-modal-createdBy {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 1.5em !important;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 97em;
}

.mpa2-createdBy,
.mpa2-fullcast,
.mpa2-fullscript,
.mpa2-fullgenres,
.mpa2-fulltitletype,
.mpa2-fullage {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 231.5em;
    position: relative;
}

.mpa2-fcbprefix,
.mpa2-fcprefix,
.mpa2-fsprefix,
.mpa2-fgprefix,
.mpa2-fttprefix,
.mpa2-faprefix {
    color: #bcbcbc;
}

.mpa2-fccontent,
.mpa2-fscontent,
.mpa2-fgcontent,
.mpa2-fttcontent,
.mpa2-facontent,
.mpa2-facontent2 {
    color: #fff;
}

.mpa2-age {
    font-weight: 500;
}

.mpa2-modal-title {
    position: relative;
    top: 1em !important;
}

/* ---------------------------------------------
   ESTILOS PARA REITE666
---------------------------------------------- */
.reite-modal-createdBy {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 1.5em !important;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 97em;
}

.reite-modal-createdBy,
.reite-fullcast,
.reite-fullscript,
.reite-fullgenres,
.reite-fulltitletype,
.reite-fullage {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 3em;
    color: #fff;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    top: 237.5em;
    position: relative;
}

.reite-fcbprefix,
.reite-fcprefix,
.reite-fsprefix,
.reite-fgprefix,
.reite-fttprefix,
.reite-faprefix {
    color: #bcbcbc;
}

.reite-fccontent,
.reite-fscontent,
.reite-fgcontent,
.reite-fttcontent,
.reite-facontent,
.reite-facontent2 {
    color: #fff;
}

.reite-age {
    font-weight: 500;
}

.reite-modal-title {
    position: relative;
    top: 1em !important;
}

.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 204, 204);
}

.modal-mute-btn,
reite-mute {
    position: absolute !important;
    bottom: -23.97em !important;
    right: 1.812em !important;
    cursor: pointer !important;
    transition: opacity 0.2s !important;
    background-color: rgb(42 42 42 / 60%) !important;
    border: 2px solid hsla(0, 0%, 100%, .5) !important;
    border-radius: 50% !important;
    opacity: 0.4 !important;
    z-index: 2 !important;
}

.modal-mute-btn,
reite-mute {
    position: absolute !important;
    bottom: -22.66em !important;
}

button#muteBtn {}

.modal-mute-btn {
    margin-top: 1em;
    bottom: -27.43em !important;
    position: relative;
}

nivelx-mute img {
    margin-top: !important;
}

button.reite-mute {
    position: absolute !important;
    bottom: -27.4em !important;
}

.modal-mute-btn:hover {
    opacity: 1 !important;
    border: 2px solid #fff !important;
}

.modal-mute-btn img {
    width: 30px !important;
    height: 30px !important;
    display: block !important;
    filter: brightness(0) invert(1) !important;
}

#episode-list li p {
    color: #fff;
    font-size: 0.875em;
    margin-right: 4em;




































































    html {
        scroll-behavior: smooth;
    }

    #about {
        margin-top: 20vh;
        height: 0vh;
    }

    body.modal-open {
        overflow: hidden;
    }


    .modal {
        display: none;
        position: absolute;
        z-index: 1000;
        left: -1em;
        top: -3.7em;
        width: 102.1%;
        height: 145%;
        background-color: rgba(0, 0, 0, 0.8);
        overflow-y: auto;
    }

    .modal-open {
        overflow: auto;
    }

    a#watch-button,
    a#watch-button:visited,
    a#watch-button:hover,
    a#watch-button:focus {
        text-decoration: none !important;
    }

    #infoModal {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vw;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: #181818;
        color: white;
        margin: 5% auto;
        padding: 1.25em;
        width: 43%;
        top: -2.6em;
        border-radius: 0.7em;
        position: relative;
        height: 268vh;
    }

    .close-button svg {
        position: absolute;
        top: -0.1em;
        left: 51em;
        z-index: 1000;
        background: #1818188c;
        border-radius: 50%;
        padding: 0.3em;
        width: 2em;
        height: 2em;
        cursor: pointer;
    }

    .episodios h2 {
        color: #fff0;
    }

    .modal-header {
        position: relative;
        width: 100%;
    }

    .modal-header::before {
        content: "";
        position: absolute;
        top: 0em;
        left: -1.2em;
        width: 104.7%;
        height: 100%;
        background: linear-gradient(0deg, #181818, transparent 50%);
        z-index: 1;
    }

    #modal-background video {
        position: relative;
        margin-top: -2.5em;
        margin-left: -1.2em;
        border-top-left-radius: 11.2px;
        border-top-right-radius: 11.2px;
    }

    .modal-cast a {
        font-style: italic;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }

    .modal-cast a:visited {
        color: #fff;
    }

    .modal-cast a:focus {
        color: #fff;
    }

    .modal-cast a:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #fff;
    }

    .modal-cast a:visited {}

    .modal-cast a:visited {
        color: #fff;
        text-decoration: none;
    }

    .modal-year {
        position: absolute;
        top: 32.6em;
        font-size: 0.875em;
        padding-left: 2.2em;
        z-index: 1000;
        color: #bcbcbc !important;
        !i;
        !;
    }

    .modal-title {
        position: absolute;
        top: 2em;
    }

    strong.epnumber1 {
        color: #bcbcbc !important;
        position: absolute;
        left: 1.1em;
        top: 1em;
        font-size: 2em;
        font-weight: 300;
        z-index: 1000;
    }

    strong.epnumber2 {
        color: #bcbcbc !important;
        position: absolute;
        left: 1.1em;
        top: 4.3em;
        font-size: 2em;
        font-weight: 300;
        z-index: 1000;
    }

    strong.epnumber3 {
        color: #bcbcbc !important;
        position: absolute;
        left: 1.1em;
        top: 7.6em;
        font-size: 2em;
        font-weight: 300;
        z-index: 1000;
    }

    strong.epnumber4 {
        color: #bcbcbc !important;
        position: absolute;
        left: 1.1em;
        top: 10.9em;
        font-size: 2em;
        font-weight: 300;
        z-index: 1000;
    }

    strong.epnumber5 {
        color: #bcbcbc !important;
        position: absolute;
        left: 1.1em;
        top: 14.2em;
        font-size: 2em;
        font-weight: 300;
        z-index: 1000;
    }

    strong.epnumber6 {
        color: #bcbcbc !important;
        position: absolute;
        left: 1.1em;
        top: 17.5em;
        font-size: 2em;
        font-weight: 300;
    }

    strong.epnumber1:hover {
        position: absolute;
        left: 0.1em;
    }

    strong.epnumber2:hover {
        position: absolute;
        left: 0.1em;
    }

    strong.epnumber3:hover {
        position: absolute;
        left: 0.1em;
    }

    strong.epnumber4:hover {
        position: absolute;
        left: 0.1em;
    }

    strong.epnumber5:hover {
        position: absolute;
        left: 0.1em;
    }

    strong.epnumber6:hover {
        position: absolute;
        left: 0.1em;
    }

    ul#episode-list li:hover {
        background: #bcbcbc80;
        cursor: pointer;
        position: relative;
    }

    #episode-list li::before {
        content: '';
        width: 0.7em;
        height: 0.7em;
        font-size: 3.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 0.02em solid white;
        position: absolute;
        left: 13%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(30, 30, 20, 0.5);
        opacity: 0;
    }

    #episode-list li:hover::before {
        opacity: 1;
    }

    #episode-list li::after {
        content: '▶';
        font-size: 3.3em;
        color: white;
        position: absolute;
        left: 13.34%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
    }

    #episode-list li:hover::after {
        opacity: 1;
    }

    button.text:hover {
        background-color: #f0f0f0;
    }

    .episode-count {
        display: block;
        padding: 0.5em 0em;
        font-size: 0.9em;
        color: #ffffff;
        z-index: 1000;
        position: absolute;
        top: 1.4em;
        left: 10em;
        font-weight: 300;
    }

    #episode-count1 {
        top: 0.1em;
        left: 8.8em;
        !i;
        !;
    }

    #episode-count2 {
        top: 0.07em;
        left: 8.8em;
    }

    #episode-list li {
        display: flex;
        text-align: justify;
        align-items: center;
        padding: 0.5em 2em;
        border-bottom: 1px solid #ccc;
    }

    #episode-list li:focus {
        color: #fff;
    }

    .episode-info p:focus {
        color: #fff;
    }

    #episode-list li:visited {
        color: #fff;
    }

    #episode-list li p {
        margin-right: -1.3em;
        color: #fff;
    }

    .episode-info {
        color: #fff;
    }

    a.eplink:hover {
        color: #fff;
    }

    a.eplink:visited {
        color: #fff;
    }

    a.eplink {
        text-decoration: none;
    }

    #episode-list li span {
        position: absolute;
        left: 46.5em;
    }

    #episode-list li:hover span {
        opacity: 1;
    }

    #episode-list li img {
        width: 170px;
        height: 75px;
        border-radius: 0.4em;
        object-fit: cover;
        margin-right: 1em;
        margin-top: 0.43em;
        margin-bottom: 0.43em;
    }

    .episode-info {
        display: flex;
        flex-direction: column;
    }

    .episode-title {
        font-weight: 500;
        font-size: 1em;
    }

    .episode-description {
        font-size: 0.9em;
        color: #666;
    }

    .modal-duration {
        position: absolute;
        top: 32.6em;
        font-size: 0.875em;
        left: 7.2em;
        color: #bcbcbc !important;
    }

    .modal strong p {
        color: #777;
        font-weight: 300;
    }

    .modal .curiosidad {
        color: #fff;
        font-weight: 500;
    }

    .modal-fullcreatedBy,
    .modal-cast,
    .modal-script,
    .modal-genres,
    .modal-titleType {
        position: absolute;
        padding-left: 32em;
        text-align: left;
        padding-right: 2em;
    }

    .modal-fullcreatedBy {
        top: 47em;
    }

    .modal-cast {
        top: 32.6em;
        font-size: 0.875em;
        padding-left: 36.6em;
        padding-right: 4em;
    }

    .createdBy {
        position: absolute;
        top: 90em;
        text-align: justify;
        padding-left: 2em;
    }

    .fcprefix {
        color: #fff;
    }

    span.fcprefix {
        color: #bcbcbc;
    }

    .modal-script {
        top: 2em;
        left: -30.67em;
    }

    .modal-genres {
        top: 35.5em;
        font-size: 0.875em;
        padding-left: 36.6em;
        padding-right: 4em;
    }

    .modal-titleType {
        top: 38.4em;
        font-size: 0.875em;
        padding-left: 36.6em;
        padding-right: 4em;
    }

    .modal-ageRating,
    .modal-description,
    .modal-curiosity {
        position: absolute;
        padding-left: 2em;
        padding-right: 24em;
        text-align: justify;
    }

    .modal-ageRating {
        top: 33.3em;
        left: 1.5em;
        z-index: 1000;
        font-size: 0.91em;
    }

    .age {
        border: 1px solid hsla(0, 0%, 100%, .4);
        padding: 0 .4em;
    }

    .modal-description {
        top: 38.5em;
        font-size: 0.875em;
        left: 1.8em;
        padding-right: 29em;
    }

    .modal-curiosity {
        top: 27.4em;
        z-index: 1000;
        font-size: 1.17em;
        left: 0.8em;
    }

    .modal-curiosity p {
        font-size: 12p;
    }

    .modal-info>p {
        margin: 0.3125em 0;
        color: #fff;
        z-index: 1000;
    }

    .modal-cast strong,
    .modal-genres strong,
    .modal-titleType strong {
        color: #bcbcbc;
        font-weight: 300;
    }

    span.fcbprefix {
        color: #bcbcbc;
    }

    span.fsprefix {
        color: #bcbcbc;
    }

    span.fgprefix {
        color: #bcbcbc;
    }

    span.fttprefix {
        color: #bcbcbc;
    }

    span.faprefix {
        color: #bcbcbc;
    }

    .fullcreatedBy.fc {}

    button.texto:hover {
        background: #424242;
        border-radius: 0em;
    }

    ul#episode-list {
        padding-left: 2em;
        padding-right: 3em;
        position: absolute;
        top: 41em;
    }

    ul#episode-list {
        !em;
        !e;
        !;
    }

    .modal strong.eplist {
        color: #fff;
        font-weight: 500;
        position: absolute;
        top: 25.6em;
        left: 2.2em;
        font-size: 1.5em;
    }

    .overlay {
        position: absolute;
        bottom: 10%;
        left: 5%;
    }

    .overlay h1 {
        font-size: 2em;
        font-weight: 500;
    }

    h1#modal-title {
        font-size: 2em;
        font-weight: 500;
        position: relative;
        top: 31.5em;
        z-index: 1000;
        left: -0.3em;
    }

    strong.titulo {
        font-weight: 500;
    }

    span.about {
        font-weight: 300;
    }

    .overlay p {
        font-size: 1.2em;
    }

    .modal-actions {
        display: flex;
        align-items: center;
        gap: 0.625em;
        margin-top: 0.625em;
    }

    .watch-button {
        background-color: #fff;
        color: #000;
        padding: 0.625em 1.25em;
        font-size: 1.3em;
        border-radius: 0.3125em;
        text-decoration: none;
        font-weight: 500;
        position: absolute;
        top: 17.4em;
        left: 2em;
        z-index: 1000;
    }

    .watch-button: hover {
        background-color: #fff;
        color: #007bff;
    }

    #watch-button: visited {
        all: unset;
        text-decoration: none;
    }

    .icon-button {
        background: none;
        border: none;
        color: white;
        font-size: 1.5em;
        cursor: pointer;
    }

    .episode {
        display: flex;
        align-items: center;
        margin-top: 0.9375em;
    }

    .episode img {
        width: 9.375em;
        border-radius: 0.3125em;
        margin-right: 0.625em;
    }

    .episode h3 {
        font-size: 1.2em;
    }

    .episode p {
        font-size: 1em;
        color: #bbb;
    }

    html {
        scroll-behavior: smooth;
    }

    .modal-header:: before {
        content: "";
        position: absolute;
        top: 0em;
        left: -1.2em;
        width: 104.7%;
        height: 100%;
        background: linear-gradient(0deg, #181818, transparent 50%);
        z-index: 1;
    }

    #modal-background video {
        position: relative;
        margin-top: -2.5em;
        margin-left: -1.2em;
        border-top-left-radius: 11.2px;
        border-top-right-radius: 11.2px;
    }

    #episode-list li:hover span {
        opacity: 0;
    }

    .modal-duration {
        position: absolute;
        top: 32.6em;
        font-size: 0.875em;
        left: 9.1em;
        color: #bcbcbc !important;
    }

    .watch-button {
        background-color: #007bff;
        color: white;
        padding: 0.625em 1.25em;
        font-size: 1.3em;
        border-radius: 0.3125em;
        text-decoration: none;
        font-weight: 500;
        position: absolute;
        top: 17.4em;
        left: 2em;
        z-index: 1000;
    }

    @media (min-width: 1025px) {
        .modal-content {
            width: 46%;
        }

        #modal-background video {
            width: 54.7em;
            border-top-left-radius: 11.2px;
            border-top-right-radius: 11.2px;
        }
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        height: auto;
        padding: 1em;
    }

    #modal-background video {
        width: 100%;
        height: auto;
    }

    .overlay h1 {
        font-size: 1.5em;
    }

    .overlay p {
        font-size: 1em;
    }

    .watch-button {
        font-size: 1em;
        padding: 0.5em 1em;
    }

    .episode img {
        width: 6em;
    }

    @media (min-width: 1025px) {
        .modal-content {
            width: 46%;
        }

        #modal-background video {
            width: 54.7em;
            border-top-left-radius: 11.2px;
            border-top-right-radius: 11.2px;
        }
    }
}

@media (max-width: 1024px) {
    .modal-content {
        width: 70%;
        padding: 1.25em;
    }

    #modal-background video {
        width: 70%;
        height: auto;
    }

    .overlay h1 {
        font-size: 1.8em;
    }

    .overlay p {
        font-size: 1.1em;
    }

    .watch-button {
        font-size: 1.1em;
        padding: 0.75em 1.5em;
    }

    @media (min-width: 1025px) {
        .modal-content {
            width: 46%;
        }

        #modal-background video {
            width: 54.7em;
            border-top-left-radius: 11.2px;
            border-top-right-radius: 11.2px;
        }
    }
}

@media (min-width: 1025px) {
    .modal-content {
        width: 46%;
    }

    #modal-background video {
        width: 54.8em;
        border-top-left-radius: 11.2px;
        border-top-right-radius: 11.2px;
    }

    video.nivelx-bg {}

}

@media (min-width: 1025px) {
    .modal-content {
        width: 46%;
    }

    #modal-background video {
        width: 54.7em;
        border-top-left-radius: 11.2px;
        border-top-right-radius: 11.2px;
    }
}